* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
textarea::selection{
  background-color: inherit;
  color: skyblue;
}

.bg-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
span{
  color:blue;
}
.inputtext {
  display: block;
  height: 60%;
  width: 75%;
  padding: 2%;
  resize: none;
}
img{
  width: 30px;
  margin-right: 25px;
}
.button{
  padding-left: 250px;
}
.link{
  text-decoration: none;
  color: white;
}
.popUp{
  min-height: 12vh;
}
#button{
  position: absolute;
  top: 24%;
  right: 14%;
}
.previewText p{
  word-break: break-all;
}
.note{
  color: red;
}
footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: black;
  padding: 1%;
  justify-content: space-between;
}
footer p {
  display: inline-block;
  width: 60%;
  margin: auto;
  text-align: center;
  color: white;
}
.social {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
}
@media screen and (max-width:890px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.8rem;
  }
  .navbar{
    min-height: 20vh;
  }
  #button{
    position: absolute;
    top: 32%;
    right: 13%;
  }
  #btndiv{
    flex-wrap: wrap;
  }
  .counter{
    flex-wrap: wrap;
  }
  .previewText{
    margin: 0;
    padding: 0;
  }
  .social{
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
  }
  .button{
    padding: 1px;
  }
  img{
    display: none;
  }
  footer{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    }
    footer p{
      font-size: 0.5rem;
      width: 80%;
    }
  
}
